In [19]:
# import libraries needed
import numpy as np
import pandas as pd

# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [20]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("C:\\Users\\pc\\Desktop\\data\\oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array.size

100

In [21]:
oil_series=pd.Series(oil_array)
oil_series.name='oil_prices'
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_prices, Length: 100, dtype: float64

In [22]:
oil_series.name

'oil_prices'

In [23]:
oil_series.dtype

dtype('float64')

In [24]:
oil_series.size

100

In [25]:
oil_series.index

RangeIndex(start=0, stop=100, step=1)

In [26]:
oil_series.astype('int')

0     52
1     51
2     51
3     52
4     52
      ..
95    45
96    47
97    47
98    47
99    48
Name: oil_prices, Length: 100, dtype: int32

In [27]:
oil_series.mean()

51.12830000000001

# Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [28]:
# extract date column from oil DataFrame and grab first 100 rows

dates = pd.Series(oil["date"]).iloc[1000:1100]

In [29]:
oil_series.index=dates
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [30]:
oil_series[:10].mean()

52.765

In [31]:
oil_series[-10:].mean()

47.129999999999995

In [32]:
oil_series.loc['2017-01-01':'2017-01-07'].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil_prices, dtype: float64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [33]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [34]:
ten=oil_series.sort_values().iloc[0:10]
ten

date
2017-05-04    45.55
2017-05-09    45.84
2017-05-05    46.23
2017-05-08    46.46
2017-03-23    47.00
2017-03-21    47.02
2017-03-27    47.02
2017-03-14    47.24
2017-05-10    47.28
2017-03-22    47.29
Name: oil_prices, dtype: float64

In [35]:
ten.sort_index()

date
2017-03-14    47.24
2017-03-21    47.02
2017-03-22    47.29
2017-03-23    47.00
2017-03-27    47.02
2017-05-04    45.55
2017-05-05    46.23
2017-05-08    46.46
2017-05-09    45.84
2017-05-10    47.28
Name: oil_prices, dtype: float64

In [36]:
mask=(oil_series.index.isin(dates))&(oil_series<=50)
oil_series.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: oil_prices, dtype: float64


# Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [55]:
mask=oil_series*1.1+2
mask.sort_values()

date
2017-05-04    52.105
2017-05-09    52.424
2017-05-05    52.853
2017-05-08    53.106
2017-03-23    53.700
               ...
2017-02-28    61.400
2016-12-28    61.411
2017-02-21    61.422
2017-02-27    61.444
2017-02-23    61.928
Name: oil_prices, Length: 100, dtype: float64

In [49]:
max=oil_series.max()
mask=max-oil_series.values
mask.sort()
mask

array([0.  , 0.44, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.58, 0.64, 0.66, 0.67,
       0.68, 0.71, 0.73, 0.87, 0.93, 1.07, 1.07, 1.1 , 1.15, 1.22, 1.24,
       1.27, 1.29, 1.29, 1.3 , 1.36, 1.37, 1.42, 1.47, 1.47, 1.49, 1.52,
       1.66, 1.71, 1.73, 1.8 , 1.85, 1.85, 1.86, 2.02, 2.03, 2.1 , 2.11,
       2.12, 2.12, 2.15, 2.23, 2.26, 2.29, 2.29, 2.34, 2.47, 2.5 , 2.53,
       2.79, 3.04, 3.09, 3.34, 3.36, 3.49, 3.66, 3.94, 3.99, 4.18, 4.22,
       4.23, 4.65, 4.84, 5.01, 5.17, 5.26, 5.26, 5.52, 5.58, 5.62, 5.65,
       5.73, 6.12, 6.14, 6.14, 6.18, 6.43, 6.53, 6.65, 6.67, 6.69, 6.69,
       6.83, 7.18, 7.19, 7.2 , 7.24, 7.46, 7.46, 7.48, 8.02, 8.25, 8.64,
       8.93])

In [58]:
month=oil_series.index.str[5:7].astype('int')
pd.Series(month)

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int64

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [84]:
oil_series.loc['2017-05-01':'2017-05-31'].sum()

520.13

In [86]:
oil_series.loc['2017-01-01':'2017-2-29'].count()

92

In [87]:
oil_series.percentile(.1,.9)

AttributeError: 'Series' object has no attribute 'percentile'

# Assignment 6: Missing Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once you’ve done that, fill the prices in with the median of the oil price series.

In [ ]:
# Fill in two values with missing data

oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)

# Exercise 7: Apply and Where

Write a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates.